{% load static %}        
<!-- proudacts category  -->
        <section class="proudacts-category mb-10 md:mb-20">
            <div class="container">
                <div class="flex items-center justify-center gap-y-6 gap-x-[29px] md:gap-[65px] flex-wrap">
                    <div class="w-25 md:w-50 text-center">
                        <a href="#">
                            <img src="{% static 'img/categories/category1.png' %}" alt="c1" loading="lazy">
                        </a>
                        <span
                            class="inline-block h-8 font-DanaDemiBold text-sm md:text-xl text-zinc-700 dark:text-white mt-1.5 md:mt-2.5">قهوه
                            دمی و اسپرسو</span>
                    </div>
                    <div class="w-25 md:w-50 text-center">
                        <a href="#">
                            <img src="{% static 'img/categories/category2.png' %}" alt="c1" loading="lazy">
                        </a>
                        <span
                            class="inline-block h-8 font-DanaDemiBold text-sm md:text-xl text-zinc-700 dark:text-white mt-1.5 md:mt-2.5">لوازم
                            جانبی و تجهیزات</span>
                    </div>
                    <div class="w-25 md:w-50 text-center">
                        <a href="#">
                            <img src="{% static 'img/categories/category3.png' %}" alt="c1" loading="lazy">
                        </a>
                        <span
                            class="inline-block h-8 font-DanaDemiBold text-sm md:text-xl text-zinc-700 dark:text-white mt-1.5 md:mt-2.5">اسپرسو
                            ساز</span>
                    </div>
                    <div class="w-25 md:w-50 text-center">
                        <a href="#">
                            <img src="{% static 'img/categories/category4.png' %}" alt="c1" loading="lazy">
                        </a>
                        <span
                            class="inline-block h-8 font-DanaDemiBold text-sm md:text-xl text-zinc-700 dark:text-white mt-1.5 md:mt-2.5">پک
                            تستر قهوه</span>
                    </div>
                    <div class="w-25 md:w-50 text-center">
                        <a href="#">
                            <img src="{% static 'img/categories/category5.png' %}" alt="c1" loading="lazy">
                        </a>
                        <span
                            class="inline-block h-8 font-DanaDemiBold text-sm md:text-xl text-zinc-700 dark:text-white mt-1.5 md:mt-2.5">قهوه
                            ترک</span>
                    </div>
                </div>
            </div>
        </section>