{% load static %}
{#{% load render_partial %}#}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
{% include 'includes/headRefrence.html' %}
    {% block style %}
    	
    {% endblock %}
</head>


<body class="font-DanaRegular bg-gray-100 dark:bg-zinc-800">
{% include 'includes/svg.html' %}
{% include 'includes/header.html' %}

<main>


{% block main %}

{% endblock %}
</main>

{% include 'includes/footer.html' %}
{% include 'includes/footerRefrence.html' %}
{% block script %}
	
{% endblock %}
</body>
</html>